<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Conferences</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <th:block th:include="header"/>

    <div class="container">
        <h2 style="text-align: center">Conference list <a class="nav-link" href="/addConference" id="clickToAddConference">Click to add Conference</a></h2>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Conference name</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Registered</th>
                    <th>Room</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each ="conference : ${conferences}">
                    <td th:utext="${conference.conferenceName}">...</td>
                    <td th:utext="${conference.conferenceDateTime}">...</td>
                    <td>
                        <div class="container">
                            <text th:utext="${conference.status}" data-toggle="dropdown" th:value="${conference.status}" th:id="conferenceStatus + ${conference.conferenceName}">...</text>
                            <div class="dropdown-menu">
                                <div class="dropdown-item">
                                    <form th:action="@{/activity}" method="post">
                                        <label>
                                            <textarea th:text="${conference.id}" name="status" style="display: none">...</textarea>
                                        </label>
                                        <button type="submit" class="btn btn-primary" th:value="active" name="status" th:id="activeStatus + ${conference.conferenceName}">active</button>
                                        <button type="submit" class="btn btn-primary" th:value="canceled" name="status" th:id="canceledStatus + ${conference.conferenceName}">canceled</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <form th:action="@{/participants}" method="post">
                                <button type="submit" class="btn btn-primary" th:id="numberOfRegistered + ${conference.conferenceName}">
                                    <text th:utext="${conference.getParticipants().size()}">...</text>
                                </button>
                                <label>
                                    <textarea th:text="${conference.id}" name="conferenceId" style="display: none">...</textarea>
                                </label>
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <form th:action="@{/selectRoom}" method="post">
                                <label>
                                    <textarea th:text="${conference.id}" name="id" style="display: none">...</textarea>
                                </label>
                                <button type="submit" th:id="selectRoom + ${conference.conferenceName}">
                                    <text th:utext="${conference.conferenceRoom.roomName}"  th:value="${conference.conferenceRoom.roomName}" th:id="selectedRoom + ${conference.conferenceName}">...</text>
                                    <text th:if="${conference.conferenceRoom.roomName == null}">click to select</text>
                                </button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <button type="button" class="btn btn-primary" data-toggle="dropdown" th:id="clickToRegisterButton + ${conference.conferenceName}">Click to register</button>
                            <div class="dropdown-menu">
                                <div class="dropdown-item">
                                    <form th:action="@{/conferences}" th:object="${conferenceParticipant}" method="post">
                                        <h2 style="text-align: center">Registration form</h2>
                                        <div class="form-group">
                                            <label th:for="name + ${conference.conferenceName}">Name:</label>
                                            <input type="text" th:field="*{fullName}" class="form-control" placeholder="Enter full name" th:id="name + ${conference.conferenceName}" th:required="true"/>
                                        </div>
                                        <div class="form-group">
                                            <label th:for="birthDate + ${conference.conferenceName}">Birth date:</label>
                                            <input type="date" th:field="*{birthDate}" class="form-control" placeholder="Enter birth date" th:id="birthDate + ${conference.conferenceName}" th:required="true"/>
                                        </div>
                                        <label>
                                            <textarea th:text="${conference.id}" name="data" style="display: none">...</textarea>
                                        </label>
                                        <button type="submit" class="btn btn-primary" th:id="submit + ${conference.conferenceName}">Submit</button>
                                        <button type="reset" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <button type="button" class="btn btn-primary" data-toggle="dropdown" th:id="deleting + ${conference.conferenceName}">Delete</button>
                            <div class="dropdown-menu">
                                <div class="dropdown-item">
                                    <form th:action="@{/deleteConference}" method="post">
                                        <h2 style="text-align: center">Confirm</h2>
                                        <label>
                                            <textarea th:text="${conference.id}" name="data" style="display: none">...</textarea>
                                        </label>
                                        <button type="submit" class="btn btn-danger" th:id="confirmDeleting + ${conference.conferenceName}">Delete</button>
                                        <button type="reset" class="btn btn-primary">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>